dash==2.6.0
feffery-antd-charts @ git+https://github.com/CNFeffery/feffery-antd-charts.git@0190b5dd9b136a9c60cb8f3b4a750cc730a8b8bf
feffery-antd-components==0.1.16
feffery-leaflet-components @ git+https://github.com/CNFeffery/feffery-leaflet-components.git@fbb3bd8ff1e3f5f1fbf46bcfb46580511abcf96d
feffery-utils-components @ git+https://github.com/CNFeffery/feffery-utils-components.git@d5904d8bec78689d3e8128bb5a174fafed0df21f
Flask==2.1.2
Gunicorn
