Brotli==1.0.9
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
dash==2.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
defusedxml==0.7.1
dm-tree==0.1.7
feffery-antd-charts @ git+https://github.com/CNFeffery/feffery-antd-charts.git@0190b5dd9b136a9c60cb8f3b4a750cc730a8b8bf
feffery-antd-components==0.1.16
feffery-leaflet-components @ git+https://github.com/CNFeffery/feffery-leaflet-components.git@fbb3bd8ff1e3f5f1fbf46bcfb46580511abcf96d
feffery-utils-components @ git+https://github.com/CNFeffery/feffery-utils-components.git@d5904d8bec78689d3e8128bb5a174fafed0df21f
Flask==2.1.2
Flask-Compress==1.12
httpie==3.2.1
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
multidict==6.0.2
plotly==5.9.0
pycryptodome==3.15.0
Pygments==2.12.0
PySocks==1.7.1
requests==2.28.1
requests-toolbelt==0.9.1
rich==12.4.4
tenacity==8.0.1
typing_extensions==4.3.0
urllib3==1.26.9
Werkzeug==2.1.2
wincertstore==0.2
zipp==3.8.0
Gunicorn